- gallery.gallery_images.each do |g_image|
  - html_opts_for_li[:id] = "gallery_item_#{g_image.id}"

  %li{html_opts_for_li}
    - if g_image.asset.type_name == 'video'
    - else
      - image = g_image.asset
      %a{html_opts_for_a, :href => image.url_for(gallery_large_image), :rel => "gallery_#{gallery.slug}", "data-fancybox-title" => "<div class='caption'>#{g_image.caption}</div><div class='credit'>#{g_image.credits}</div>"}
        = asset_tag(image, gallery_thumb_image)