- @page_id = "login"
- @page_title = "Forgot Password"

.row
  .span6.offset3
    = backend_logo("/assets/gb_logo.png" , {:height => "46px"})
    %h1#login_title
      = website_title
    
    %div#form.well
      = form_for(User.new, :url => admin_password_resets_path, :html => {:id => "wrapper"}) do |f|
        %fieldset
          - unless flash.blank?
            = render "/layouts/flash_messages", :locals => {:close_button => true}
        
          .control-group
            = f.label :email, :class=>"control-label"
            = f.text_field :email, :class => "span4"
          .control-group
            .controls
              = f.submit "Reset my password", :class => "btn btn-success", :disable_with => "Resetting your password..."