%legend
  Images/Videos
.form-repeater-wrapper.form_field_wrapper{"data-field" => "gallery_images"}
  %ul
    - index = 0
    = f.fields_for :gallery_images do |repeater_form|
      - repeater_form.object.position = index
      - index += 1
      %li.row-fluid.gallery_image_repeater_form
        %span.repeater-drag-node
        .span4
          = repeater_form.label :asset_id, "Image/Video"
          = repeater_form.asset_browser :asset_id , :class => "attr_image " , :filter => "image,video"
        .span6
          = repeater_form.label :caption
          = repeater_form.text_field :caption, :class => "caption-field"
          .clear
          = repeater_form.label :credits
          = repeater_form.text_field :credits, :class => "credits-field"
          .clear
          = repeater_form.label :link
          = repeater_form.text_field :link
          .clear
        .repeater-delete-wrapper
          = repeater_form.hidden_field :position, :class => "_position"
          = repeater_form.hidden_field :_destroy, :class => "_destroy"
          = link_to "Remove", "Javascript:;", :class => "_destroy_button btn btn-danger"
          

  = link_to "Add Image/Video", "Javascript:;", "data-count" => @gallery.gallery_images.length, :class => "btn add_gallery_image"