.span3
  .well.sidebar-nav
    %ul.nav.nav-list
      %li.nav-header
        Content
      - @menu_section_name = Gluttonberg::Components.section_name_for_controller(controller_name)
      - unless @menu_section_name.blank?
        - for entry in Gluttonberg::Components.nav_entries(@menu_section_name)
          -if entry[3].blank? || entry[3]==false || (entry[3]==true && session.user.is_super_admin)
            %li
              = active_link_to(entry[0], url_for(entry[2]),  {:id => (entry[0].to_s.underscore).gsub(/\s/, '_') + "Nav" , :title => entry[0] } )
      - else
        %li
          = active_link_to("Pages", admin_pages_path, :title => "Pages", :class => "pages")
        - if Gluttonberg::Blog.table_exists?
          %li
            = active_link_to("Blogs", admin_blogs_path, :title => "Blogs", :class => "blog")
          %li
            = active_link_to("Comments", admin_pending_comments_path, :title => "Comments", :class => "comments", :active => /^\/admin\/comments/)

        - if Rails.configuration.enable_gallery == true
          %li
            = active_link_to("Galleries", admin_galleries_path, :title => "Galleries", :class => "gallery")
        - for entry in Gluttonberg::Components.nav_entries
          -if entry[3].blank? || entry[3]==false || (entry[3]==true && session.user.is_super_admin)
            %li
              = active_link_to(entry[0], url_for(entry[2]),  {:id => (entry[0].to_s.underscore).gsub(/\s/, '_') + "Nav" , :title => entry[0] } )
        - if Rails.configuration.flagged_content == true
          %li
            = active_link_to("Flagged Content", admin_flagged_contents_path, :id => "flaggedNav" , :title => "Flagged Content")
