%p= "Hi #{@admin.full_name}"


%p= "#{@comment.writer_name} commented on \"#{@article.title}\""

%p= "#{@comment.writer_name} wrote \"#{@article.body}\""

%p= link_to "Click here to see the full thread" , @article_url

- if @comment.moderation_required
  %p
    = link_to "Click here to approve the comment", moderation_admin_blog_article_comment_url(@blog.id, @article.id, @comment.id, :moderation => "approve")
  %p
    = link_to "Click here to disapprove the comment", moderation_admin_blog_article_comment_url(@blog.id, @article.id, @comment.id, :moderation => "disapprove")

%p
  Thanks,
  %br
  = "The #{@website_title} Team"