- @window_title = "Library"
- @page_title = "#{link_to "Asset Library", admin_asset_category_path(:category => 'all' , :page => 1 )} > Collections"

.row-fluid
  = render :partial => "/gluttonberg/admin/asset_library/shared/sidebar"
  .span9
    .row-fluid
      .page-header
        %h1
          = @page_title.html_safe
      .subnav
        = sub_nav do
          = nav_link("New Collection", new_admin_collection_url )

      - if @collections.empty?
        %p.empty No collections available
      - else
        - unless @collections.empty?
          .accordion#accordion_for_collections
            - for collection in @collections
              - unless @category.blank? || @category.asset_type_ids.blank?
                - assets = collection.assets.where({:asset_type_id => @category.asset_type_ids })
              - else
                - assets = collection.assets
              - if assets.length > 0
                .accordion-group
                  .accordion-heading
                    %a{ :class=>"accordion-toggle no-ajax" , "data-toggle" => "collapse" , "data-parent" => "#accordion_for_collections" , "data-target" => "#collection-#{collection.id}", "href" => "#collection-#{collection.id}"}
                      = "#{collection.name} ( #{pluralize(assets.length,'asset')} )"
                  .accordion-body{:id => "collection-#{collection.id}" , :class => "collapse  in"}
                    .accordion-inner{"content-loaded" => "false" , "data-id" => collection.id}



:javascript
  initCollectionAccordion();
