.row-fluid
  = form_for(  @asset , :as => :asset , :url => url_opts ,  :html => { :multipart=>true  , :method => method_name, :class => "nosubnav validation"} ) do |asset_form|
    = gb_error_messages_for(@asset)

    - unless @asset.thumb_large_url.blank?
      %p
        %img{:src => @asset.thumb_large_url}
      %p
    .row-fluid
      .span6
        %legend Upload
        %p
          = asset_form.label :file , "File to upload"
          = asset_form.file_field(:file , :class => "#{action_name == "new" ? 'required' : ''}")
        %p
          = asset_form.label :name , "Name"
          = asset_form.text_field(:name, :class => "large required" , :maxlength => 255)
        %p
          = asset_form.label :alt , "Description"
          = asset_form.text_field(:alt, :class => "large" , :maxlength => 255 )

        %p
          = asset_form.label :artist_name, "Credits"
          = asset_form.text_field(:artist_name, :class => "large" , :maxlength => 255 )

        - if Rails.configuration.enable_gallery == true
          %p
            = asset_form.label :link
            = asset_form.text_field(:link, :class => "large" , :maxlength => 255 )

        - if @asset.category == "video" || @asset.category == "audio"
          = asset_form.label :poster_image_id
          = asset_form.asset_browser :poster_image_id , :class => "attr_poster_image " , :filter => "image"
      .span6

        = render :partial => "collection_select_form" , :locals => {:asset_form => asset_form }

    .row-fluid
      .span6
        %legend Publish
        .controls{:class => "#{ method_name == "put" ? '' : 'center-new' }"}
          = form_controls(admin_assets_url)
