- @page_title = "Comments"

.row-fluid
  = render :partial => "/gluttonberg/admin/content/main/sidebar"
  .span9
    .row-fluid
      .page-header
        %h1
          = @page_title
      .subnav
        - if action_name != "index"
          = sub_nav do
            = nav_link("All (#{Gluttonberg::Comment.all_comments_count})", admin_all_comments_path)
            = nav_link("Pending (#{Gluttonberg::Comment.pending_comments_count})", admin_pending_comments_path)
            = nav_link("Approved (#{Gluttonberg::Comment.approved_comments_count})", admin_approved_comments_path)
            = nav_link("Rejected (#{Gluttonberg::Comment.rejected_comments_count})", admin_rejected_comments_path)
            = nav_link("Spam (#{Gluttonberg::Comment.spam_comments_count})", admin_spam_comments_path)


      - if @comments.empty?
        %p.empty No Comments
      - else
        %table{:cellpadding => 0, :cellspacing => 0, :summary => "Articles" , :class => "table table-bordered "}
          %thead
            %tr
              %th
                Author
              %th
                Comment
              %th
                Date Commented
              %th.controls
                Controls
          %tbody
            - @comments.each do |comment|
              %tr
                %td{:style => "width:10%;"}
                  = comment.author_name
                %td{:style => "width:40%;"}
                  = simple_format(comment.body)
                %td{:style => "width:17%;"}
                  = comment.created_at
                %td.controls{:style => "width:35%;"}
                  - if comment.moderation_required && can?(:moderate , Gluttonberg::Comment)
                    = link_to("Approve", admin_comment_moderation_path(comment, :moderation => "approve"), :class => "btn")
                    = link_to( "Disapprove", admin_comment_moderation_path(comment, :moderation => "disapprove") , :class => "btn")
                    = link_to("Delete", admin_comment_delete_path(comment), :class => "btn btn-danger")
        = will_paginate(@comments)