- @window_title = "Membership"
- @page_title = "#{link_to("Members", admin_membership_members_path)} > Edit member"

.row-fluid
  = render :partial => "/gluttonberg/admin/membership/main/sidebar"
  .span9
    .row-fluid
      .page-header
        %h1
          = @page_title.html_safe
      .subnav
      = auto_save(@member)
      = render :partial => "form" , :locals => { :url => admin_membership_member_path(@member.id) }