- @window_title = "Membership"
- @page_title = "#{@group.blank? ? "All" : @group.name } Members"

.row-fluid
  = render :partial => "/gluttonberg/admin/membership/main/sidebar"
  .span9
    .row-fluid
      .page-header
        %h1
          = @page_title.html_safe
      .subnav
        = sub_nav do
          = nav_link("New", new_admin_membership_member_path)
          = nav_link("Export" , admin_membership_members_export_path)
          = nav_link("Import" , admin_membership_members_import_path)

      - sorter_url = admin_membership_members_path
      - if @members.empty?
        %p.empty No Members
      - else
        %form{:action => admin_membership_members_path , :id => "list_search_form" }
          = text_field_tag :query , params[:query]
          = submit_tag "Search" , :class => "button"
        %table{:cellpadding => 0, :cellspacing => 0, :summary => "List of members" , :class => "table table-bordered "}
          %thead
            %tr
              %th
              %th=sorter_link("Name",   "first_name",   sorter_url )
              %th=sorter_link("Email",   "email",   sorter_url )
              %th Group
              %th=sorter_link("Signup Date",   "date-added",   sorter_url )
              %th.controls
          %tbody
            - i = 0
            - for member in @members
              - i += 1
              %tr{ :class => "#{i % 2 == 0? "even" : ""}"}
                %td
                  - if !member.image.blank? && !member.image.url(:thumb_for_backend).blank?
                    = image_tag(member.image.url(:thumb_for_backend) , :width => "142")
                %td
                  = link_to("#{member.full_name}", edit_admin_membership_member_path(member) )
                %td= mail_to member.email , member.email
                %td= member.groups_name
                %td
                  = date_format member.created_at
                %td.controls
                  = link_to("Edit", edit_admin_membership_member_path(member) , :class => "btn")
                  = link_to "Delete", delete_admin_membership_member_path(member) , :class => "btn btn-danger"

        = will_paginate(@members)