- @window_title = "Content"
- @page_title = "#{link_to("<%= plural_class_name %>", admin_<%= plural_name %>_path)} > Edit #{@<%= singular_name %>.title_or_name?}"

.row-fluid
  = render :partial => "/gluttonberg/admin/content/main/sidebar"
  .span9
    .page-header
      %h1
        = @page_title.html_safe

    .row-fluid
      <% if localized? %>
      - if Gluttonberg.localized? && Gluttonberg::Locale.all.length > 1
        .btn-group
          %a{ :class => "btn dropdown-toggle" , "data-toggle" => "dropdown", :href => "#"}
            Editing #{@<%= singular_name %>.current_localization.locale.name} Content
            %span.caret
          %ul.dropdown-menu
            - for locale in Gluttonberg::Locale.all
              %li{:class => "#{ (@<%= singular_name %>.current_localization.locale_id ==  locale.id ) ? 'active' : '' }"}
                %a{:href => edit_admin_<%= singular_name %>_path( :id => @<%= singular_name %>.id, :locale_id => locale.id) }
                  = "Edit #{locale.name} Content"
      = auto_save(@<%= singular_name %>.current_localization)
      <% else %>= auto_save(@<%= singular_name %>)<%end%>
      <% if versioned? %>
      - unless @<%= singular_name %>.blank?
        = version_alerts(@<%= singular_name %>.versions , @<%= singular_name %>.version, can?(:publish , @<%= class_name %>) )
        = version_listing(@<%= singular_name %>.versions , @<%= singular_name %>.version )
      <%end%>
      = form_for(@<%= singular_name %>, :url => admin_<%= singular_name %>_path(@<%= singular_name %>), :html => {:class => "auto_save"}) do  |f|
        <% if localized? %>= hidden_field_tag :locale_id , @<%= singular_name %>.current_localization.locale_id<%end%>
        = gb_error_messages_for(@<%= singular_name %>)
        = render :partial => "form", :locals => {:f => f}