.span5
  %legend
    Content
  <% attributes.each do |attribute| -%>%p
    = f.label :<%= attr_db_name_wrapper(attribute) %>
  <% if ['asset', 'image','video','document', 'audio'].include?(attribute.type.to_s) %>  = f.asset_browser :<%= attr_db_name_wrapper(attribute) %> , :class => "attr_<%= attr_db_name_wrapper(attribute) %> " , :filter => "<%=asset_filter_value(attribute)%>"
  <%else%>  = f.<%= attribute.field_type %> :<%= attribute.name %> , :class => "attr_<%= attribute.name %> span5 <%= attribute.field_type.to_s == 'text_area' ? 'jwysiwyg' : ''  %>" <%end%>
  <% end %>
.span4
  %legend{ :class => "expandable" , "rel"=>".seo_body"}
    SEO
  .seo_body
    %p
      = f.label :slug
      = f.text_field :slug , :class => "span4 " , :id => "page_slug" , :donotmodify => slug_donotmodify_val
    %p
      = f.label :seo_title
      = f.text_field :seo_title , :class => "span4 "
    %p
      = f.label :seo_keywords , "Keywords"
      = f.text_area :seo_keywords , :class => "span4 "   , :rows => 3
    %p
      = f.label :seo_description , "Description"
      = f.text_area :seo_description , :class => "span4 " , :rows => 3
    %p
      = f.label :fb_icon_id , "Facebook Icon"
      = f.asset_browser :fb_icon_id , :class => "" , :filter => "image"

  = submit_and_publish_controls(f, @<%= singular_name %>, can?(:publish , <%=class_name %>))

= enable_redactor("jwysiwyg")
= enable_slug_management_on("attr_#{f.object.get_slug_source}")
