- if assets.blank?
  - if type == "search"
    .alert
      Sorry, There were no search results found.
  - elsif @category_filter.blank? || @category_filter == "all"
    .alert
      Sorry, There are no assets added as yet.
  - else
    .alert
      Sorry, There are no
      %i
        = @category_filter
      added as yet.

- else
  %ul#assetPanels.thumbnails
    - for asset in assets
      %li.span3
        .thumbnail
          - if asset.category == 'audio'
            .sm2-inline-list
              .ui360
                %a{:href => "#{asset_url(asset)}", :target => "_blank" , :class => "no-ajax"}
                  = asset.name
          - elsif asset.category == 'image'
            %img{:src => "#{asset.thumb_small_url}"}
          - elsif asset.category && asset.category.to_s.downcase == "video"
            - unless asset.poster_image.blank?
              %img{:src => "#{asset.poster_image.thumb_small_url}"}
          .caption
            %h5{:class => (asset.category == 'image' || (asset.category == 'video' && !asset.poster_image.blank?) ? '' : 'asset-without-image' )}
              = asset.name
            %p
              = "#{asset.created_at.strftime("%d/%m/%y %I:%M %p")}"
            %p
              - if params[:open_link].blank?
                - if asset.category == "image" && !params[:size_selector].blank?
                  = select_tag nil, options_for_select(Rails.configuration.thumbnails.find_all{|key, val| val[:show_in_asset_picker] == true || key == :jwysiwyg_image}.collect{|key, val| [val[:label], asset.url_for(key)] }), {"data-title" => "#{asset.name}", :prompt => "Select Image Size", :class => "size_selector"}
                
                - elsif asset.category && asset.category == "video" && !asset.poster_image.blank?
                  %a{:href => "#{admin_asset_url(asset)}", :rel => "#{asset.category}", :class => "assetLink btn btn-primary" , "data-title" => "#{asset.name}" , "data-credits" => "#{asset.artist_name}" , "data-thumb" => "#{asset.poster_image.thumb_small_url}" , "data-jwysiwyg" => "#{(asset.category == "image" ? asset.url_for(:jwysiwyg_image) : asset.url)}" , "data-category" => "#{asset.category}"}
                    Select

                - else
                  %a{:href => "#{admin_asset_url(asset)}", :rel => "#{asset.category}", :class => "assetLink btn btn-primary" , "data-title" => "#{asset.name}" , "data-credits" => "#{asset.artist_name}" , "data-thumb" => "#{asset.thumb_small_url}" , "data-jwysiwyg" => "#{(asset.category == "image" ? asset.url_for(:jwysiwyg_image) : asset.url)}" , "data-category" => "#{asset.category}"}
                    Select
              - else
                %a{:href => "#{admin_asset_url(asset)}", :class => "assetLink btn btn-primary"}
                  Show



  - if assets.respond_to? :total_pages
    = will_paginate(assets)