= text_field_tag("#{unique_field_name}_date" , date , date_field_html_opts )
= text_field_tag("#{unique_field_name}_time" , time , time_field_html_opts )
= form.hidden_field("#{field_name}" ,  :class => "#{unique_field_name}")

%span.help-block
  %span.span2 DD/MM/YYYY
  %span.span2 HH:MM AM/PM

%label.error{:class => "#{unique_field_name}_error"}
.clear
:javascript
  $(document).ready(function(){
    combine_datetime('#{unique_field_name}');
  });