.container-fluid
  .row
    .span5.offset4
      %div#form.well
        = form_tag(@options[:url], :method => "delete") do
          %h1
            = @options[:title]
          - unless @options[:message].blank?
            %p.message
              = @options[:message].html_safe
          - unless @options[:warning].blank?
            %p.warning
              = @options[:warning].html_safe
          = hidden_field_tag "return_url" , @options[:return_url]
          %p.controls
            - unless @do_not_delete
              = submit_tag("Delete", :class => "btn btn-danger")
              or
              = link_to("<strong>Cancel</strong>".html_safe, @options[:return_url])
            - else
              = link_to("<strong>Ok</strong>".html_safe, @options[:return_url])