- @window_title = "Settings"
- @page_title = "Configuration"

- @has_deletable_settings = Gluttonberg::Setting.has_deletable_settings?
.row-fluid
  = render :partial => "/gluttonberg/admin/settings/main/sidebar"
  .span9
    .row-fluid
      .page-header
        %h1
          = @page_title.html_safe
      .subnav
        = sub_nav do
          - if can? :create_or_destroy, Gluttonberg::Setting
            = nav_link('Add New Setting', new_admin_configuration_path)

      
      - if @multisite
        - Rails.configuration.multisite.each do |key, val|
          %h2
            #{val} Configuration
  
          = render :partial => "settings_table", :locals => {:settings => @site_wise_settings[key]}
      

        %h2
          Global Configuration
          
      = render :partial => "settings_table", :locals => {:settings => @cms_settings}


