- unless @pages.blank?
  %fieldset
    %p
      = f.label :parent_id , "Parent page", :class => "block_label"
      %br
      = f.select(:parent_id, pages_lists_options(@pages), {:prompt => "No Parent"}, {:class=>" chzn-select"})
%label
  Page Template
%fieldset
  %p
    = f.select(:description_name, page_description_options , { :prompt => "Select Page Template" } , {:class => "required chzn-select"} ) 

- if Gluttonberg::Member.enable_members == true && action_name != "new"
  %fieldset
    %p
      = f.label :groups, "Make this page only available to:"
      = f.select("group_ids" ,  Gluttonberg::Group.order("position ASC").collect{|cc| [cc.name , cc.id] }   , { :include_blank => true  } , { :multiple => true , :class => "large" } )