- @window_title = "Content"
- @page_title = "Pages"

.row-fluid
  = render :partial => "/gluttonberg/admin/content/main/sidebar"
  .span9
    .row-fluid
      .page-header
        %h1
          %span.title
            = @page_title.html_safe
      .subnav
        = sub_nav do
          - if can?(:manage, Gluttonberg::Page)
            = nav_link('Add New Page', new_admin_page_path)

      - if @pages.empty?
        %p.empty No Pages
      - else
        .nestable_dragtree
          %ol.header.dd-list
            %li.dd-item
              .dd-column.title
                Page
              .dd-column.author
                Author
              .dd-column.published_state
                Status
              .dd-column.actions
                &nbsp;

          .dd{"data-url" => drag_tree_url }
            %ol.dd-list
              = page_table_rows(@pages)


        / %table{:id => 'pages_table', :class => "table table-bordered #{(can?(:reorder , Gluttonberg::Page) ? drag_tree_table_class : "" )}", :cellpadding => 0, :cellspacing => 0, :rel => "" , :summary => "Pages" , :rel => drag_tree_url }
        /   %thead
        /     %tr
        /       %th
        /         Page
        /       %th.author
        /         Author
        /       %th.published_state
        /         Status
        /       %th
        /   %tbody
        /     = page_table_rows(@pages)