- unless @blog.blank?
  = version_listing(@blog.versions , @blog.version )

= form_for(@blog, :url => url , :html => {:class => "validation"}) do  |f|
  = gb_error_messages_for(@blog)
  = f.hidden_field(:user_id, :value => current_user.id) if @blog.user_id.blank?

  .span5
    .tabbable

      %ul.nav.nav-tabs
        %li.active
          %a{:href => "#blog", "data-toggle" => "tab" }
            Blog
        %li
          %a{:href => "#seo", "data-toggle" => "tab"  }
            SEO
      .tab-content
        .tab-pane.active#blog
          .pad
            %p
              = f.label :name
              = f.text_field(:name, :id => "page_title" , :class => "required")
            %p
              = f.label :slug
              = f.text_field(:slug, :id => 'page_slug' , :donotmodify => (action_name == "edit"  || action_name == "update"))
            %p
              = f.label :description,:class =>"block_label"
              = f.text_area(:description , :class => "jwysiwyg", :width => "490", :height => "200")
            %p
              = f.label :moderation_required , "Moderation required?"
              = f.check_box :moderation_required
        .tab-pane#seo
          .pad
            %p
              = f.label :seo_title
              = f.text_field :seo_title , :class => "span4 "
            %p
              = f.label :seo_keywords , "Keywords"
              = f.text_area :seo_keywords , :class => "span5 "   , :rows => 3
            %p
              = f.label :seo_description , "Description"
              = f.text_area :seo_description , :class => "span5 " , :rows => 3
            %p
              = f.label :fb_icon_id , "Facebook Icon"
              = f.asset_browser :fb_icon_id , :class => "" , :filter => "image"


  .span4
    = submit_and_publish_controls(f, @blog, can?(:publish , Gluttonberg::Blog))


= enable_redactor("jwysiwyg")
