- @page_title = "Blogs".html_safe

.row-fluid
  = render :partial => "/gluttonberg/admin/content/main/sidebar"
  .span9
    .row-fluid
      .page-header
        %h1
          = @page_title
      .subnav
        = sub_nav do
          - if current_user.super_admin?
            = nav_link('Add New Blog', new_admin_blog_path)

      - if @blogs.empty?
        %p.empty No Blogs
      - else
        %table{:cellpadding => 0, :cellspacing => 0, :summary => "Blogs" , :class => "table table-bordered "}
          %thead
            %tr
              %th Blog
              %th.controls

          %tbody
            - @blogs.each do |blog|
              %tr
                %td
                  = link_to "#{blog.name}", admin_blog_articles_path(blog)
                %td.controls{:width => 200}
                  = link_to "View Posts", admin_blog_articles_path(blog) , :class => "btn btn-primary"
                  - if current_user.super_admin?
                    = link_to "Edit", edit_admin_blog_path(blog) , :class => "btn"
                  - if can? :destroy , Gluttonberg::Blog
                    = link_to "Delete", delete_admin_blog_path(blog) , :class => "btn btn-danger"
        = will_paginate(@blogs)