!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
      %title
        = "#{website_title}- #{@page_title}" if @page_title
      %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %meta{:content => "", :name => "description"}
      %meta{:content => "", :name => "author"}
      = csrf_meta_tag
      / Le styles
      = stylesheet_link_tag "gb_bootstrap", "gb_admin-override", :media => "all"
      = custom_stylesheet_link_tag

      = javascript_include_tag "jquery-1-10-1", "gb_bootstrap"
      = custom_javascript_include_tag

      /[if lt IE 9]
        = javascript_include_tag "gb_html5"

  %body#login
    .container
      = yield