!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
      %title
        = "#{website_title} #{@window_title.blank? ? '' : ' : ' + @window_title}"
      %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %meta{:content => "Updating your site is a piece of cake", :name => "description"}
      %meta{:content => "Freerange Future", :name => "author"}
      = csrf_meta_tag

      = stylesheet_link_tag "gluttonberg", :media => "all"
      = javascript_include_tag "gluttonberg",  :charset => "utf-8"

      = custom_javascript_include_tag
      = custom_stylesheet_link_tag

      /[if lt IE 9]
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>

  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = backend_logo("/assets/gb_logo_top.png" , {:height => "30px"})
          %a.brand{:href => admin_root_path}
            = website_title
          .nav-collapse
            %ul.nav.pull-right
              %li
                %a{:href => "/admin/logout"}
                  Logout

    .navbar-main
      %ul.nav
        %li
          = active_link_to("Dashboard", admin_root_path, :id => "dashboard_nav" , :title => "Dashboard", :active => params[:controller].include?('gluttonberg/admin/main'))
        %li
          = active_link_to("Content", admin_pages_path, :id => "content_nav" , :title => "Content", :active => (params[:controller].include?('gluttonberg/admin/content') || (( Gluttonberg::Components.nav_entries.collect{|c| c[1]}).include?(controller_name.to_sym) )))

        - for entry in Gluttonberg::Components.main_nav_entries
          -if entry[2].blank? || entry[2]==false || (entry[2]==true && session.user.is_super_admin)
            %li{:class => "custom"}
              = active_link_to(entry[0], url_for(entry[1]), :id => (entry[0].to_s.underscore).gsub(/\s/, '_') + "Nav" , :title => entry[0]  )

        %li
          = active_link_to("Library", admin_asset_category_path(:category => 'all' , :page => 1 ), :id => "library_nav" , :title => "Library" , :active => params[:controller].include?('gluttonberg/admin/asset_library')  )


        - if Gluttonberg::Member.enable_members == true
          %li
            = active_link_to("Members", admin_membership_members_path, :id => "membership_nav" , :title => "Members" , :active => /^\/admin\/membership/)
        %li
          = active_link_to("Settings", admin_configurations_path, :id => "settings_nav" , :title => "Settings" , :active => params[:controller].include?('gluttonberg/admin/settings/')  )


    .container-fluid
      = render "/layouts/flash_messages"
      = yield

      %hr
        %footer
          %p
            &copy;
            %a{:href => "http://freerangefuture.com", :target => "_blank"}
              Freerange Future
            #{Time.now.year}
